manifest {
  name = 'ViralClust'
  mainScript = 'viralclust.nf'
  author = 'Kevin Lamkiewicz'
  description = 'XXX'
}

// default parameters
params {
  max_cores = Runtime.runtime.availableProcessors()
  cores = '1'
  memory = '16.GB'
  help = false
  profile = false

  // input
  fasta = ''

  // output
  output = 'viralclust_results'
  sort_output = '00-positive_sorted'
  nr_output = '01-non_redundant'
  cdhit_output = '02-cdhit'
  mafft_output = '03-mafft'
  //raxmlng_output = 'raxml-ng'
  fasttree_output = '07-fasttree'
  nwdisplay_output = '08-nwdisplay'
  hdbscan_output = '04-hdbscan'
  sumaclust_output = '05-sumaclust'
  vsearch_output = '06-vsearch'

  // parameters
  tree = false
  cdhit_params = '-c 0.9'
  raxmlng_params = '--model GTR+G '
  hdbscan_params = ''
  sumaclust_params = ''
  vsearch_params = '--id 0.9'

  // location for storing the conda environments
  condaCacheDir = 'conda'

  // optional configurations
  workdir = "/tmp/nextflow-work-$USER"
  cloudDatabase = false
  cachedir = false
}

profiles {
  local {
    params.cloudProcess = false
    params.cloudDatabase = false
    includeConfig 'configs/local.config'
  }

  conda {
    params.cloudProcess = false
    params.cloudDatabase = false
    conda.cacheDir = params.condaCacheDir
    includeConfig 'configs/conda.config'
  }

  // predefined combinations
  // local execution with conda
  standard {
    conda.cacheDir = params.condaCacheDir
    includeConfig 'configs/local.config'
    includeConfig 'configs/conda.config' 
  }

}