manifest {
  mainscript = 'viralclust.nf'
}

// default parameters
params {
  max_cores = Runtime.runtime.availableProcessors()
  cores = '1'
  memory = '16.GB'
  help = false
  profile = false

  // input
  fasta = ''

  // output
  output = 'viralclust_results'
  cdhit_output = '01-cdhit'
  hdbscan_output = '02-hdbscan'

  // parameters
  cdhit_params = '-c 1'
  hdbscan_params = '-k 7'

  // location for storing the conda environments
  condaCacheDir = 'conda'

  // optional configurations
  workdir = "/tmp/nextflow-work-$USER"
  cloudDatabase = false
  cachedir = false
}

profiles {
  local {
    params.cloudProcess = false
    params.cloudDatabase = false
    includeConfig 'configs/local.config'
  }

  conda {
    params.cloudProcess = false
    params.cloudDatabase = false
    conda.cacheDir = params.condaCacheDir
    includeConfig 'configs/conda.config'
  }

  // predefined combinations
  // local execution with conda
  standard {
    conda.cacheDir = params.condaCacheDir
    includeConfig 'configs/local.config'
    includeConfig 'configs/conda.config' 
  }

}