manifest {
  mainscript = 'viralclust.nf'
}

// default parameters
params {
  max_cores = Runtime.runtime.availableProcessors()
  cores = '1'
  memory = '16.GB'
  help = false
  profile = false

  // input
  fasta = ''

  // output
  output = 'viralclust_results'
  nr_output = 'non_redundant'
  cdhit_output = 'cdhit'
  mafft_output = 'mafft'
  raxmlng_output = 'raxml-ng'
  fasttree_output = 'fasttree'
  nwdisplay_output = 'nwdisplay'
  hdbscan_output = 'hdbscan'
  sumaclust_output = 'sumaclust'

  // parameters
  tree = false
  cdhit_params = ''
  raxmlng_params = '--model GTR+G '
  hdbscan_params = ''
  sumaclust_params = ''

  // location for storing the conda environments
  condaCacheDir = 'conda'

  // optional configurations
  workdir = "/tmp/nextflow-work-$USER"
  cloudDatabase = false
  cachedir = false
}

profiles {
  local {
    params.cloudProcess = false
    params.cloudDatabase = false
    includeConfig 'configs/local.config'
  }

  conda {
    params.cloudProcess = false
    params.cloudDatabase = false
    conda.cacheDir = params.condaCacheDir
    includeConfig 'configs/conda.config'
  }

  // predefined combinations
  // local execution with conda
  standard {
    conda.cacheDir = params.condaCacheDir
    includeConfig 'configs/local.config'
    includeConfig 'configs/conda.config' 
  }

}