workdir = params.workdir

process {
  withLabel: remove {conda = "$baseDir/envs/cdhit.yml"}
  withLabel: cdhit {conda = "$baseDir/envs/cdhit.yml"}
  withLabel: mafft {conda = "$baseDir/envs/mafft.yml"}
  withLabel: raxmlng {conda = "$baseDir/envs/raxml-ng.yml"}
  withLabel: hdbscan {conda = "$baseDir/envs/hdbscan.yml"}
}