workDir = params.workdir

process {
  withLabel: sortseq { conda = "$baseDir/envs/python3.yml" }
  withLabel: ncbi_meta { conda = "$baseDir/envs/python3.yml" }
  withLabel: remove {conda = "$baseDir/envs/mmseqs.yml"}
  withLabel: concat_goi { conda = "$baseDir/envs/python3.yml" }
  withLabel: cdhit {conda = "$baseDir/envs/cdhit.yml"}
  withLabel: mafft {conda = "$baseDir/envs/mafft.yml"}
  withLabel: fasttree {conda = "$baseDir/envs/fasttree.yml"}
  withLabel: nwdisplay { conda = "$baseDir/envs/nwutils.yml"}
  withLabel: hdbscan {conda = "$baseDir/envs/hdbscan.yml"}
  withLabel: sumaclust {conda = "$baseDir/envs/sumaclust.yml"}
  withLabel: vclust { conda = "$baseDir/envs/vsearch.yml" }
  withLabel: mmseqs { conda = "$baseDir/envs/mmseqs.yml" }
  withLabel: revComp { conda = "$baseDir/envs/python3.yml" }
  withLabel: evaluate { conda = "$baseDir/envs/python3.yml" }
  withLabel: evalMerger { conda = "$baseDir/envs/python3.yml" }
  withLabel: update_ncbi { conda = "$baseDir/envs/python3.yml" }
}