workDir = params.workdir

executor {
  name = "local"
  cpus = params.max_cores
  memory = params.memory
}

process {
  withLabel: sortseq {cpus = 1}
  withLabel: remove {cpus = params.cores}
  withlabel: concat_goi {cpus = 1}
  withLabel: cdhit {cpus = params.cores}
  withLabel: rename {cpus = 1}
  withLabel: mafft {cpus = params.cores}
  withLabel: fasttree {cpus = params.cores}
  withLabel: nwdisplay {cpus = 1}
  withLabel: hdbscan {cpus = params.cores}
  withLabel: sumaclust {cpus = params.cores}
  withLabel: vclust {cpus = params.cores}
  withLabel: mmseqs {cpus = params.cores}
  withLabel: revComp {cpus = 1}
  withLabel: evaluate {cpus = params.max_cores}
  withLabel: evalMerger {cpus = 1}
  withLabel: ncbi_meta { cpus = 1 }
  withLabel: update_ncbi { cpus = 1 }
}