workDir = params.workdir

executor {
  name = "local"
  cpus = params.max_cores
  memory = params.memory
}

process {
  withLabel: remove {cpus = 1}
  withLabel: cdhit {cpus = 1}
  withLabel: rename {cpus = 1}
  withLabel: mafft {cpus = params.cores}
  withLabel: raxmlng {cpus = params.cores}
  withLabel: fasttree {cpus = params.cores}
  withLabel: nwdisplay {cpus = 1}
  withLabel: hdbscan {cpus = params.cores}
  withLabel: sumaclust {cpus = params.cores}
  withLabel: vclust {cpus = params.cores}
}