workdir = params.workdir

executor {
  name = "local"
  cpus = params.max_cores
  memory = params.memory
}

process {
  withLabel: remove {cpus = 1}
  withLabel: cdhit {cpus = 1}
  withLabel: rename {cpus = 1}
  withLabel: mafft {cpus = params.cores}
  withLabel: raxmlng {cpus = params.cores}
  withLabel: hdbscan {cpus = params.cores}
}